<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body th:object="${pizza}">
		<h1>Aggiungi pizza</h1>
		<form method="POST">
			<label>nome</label>
			<input type="text" name="nome" th:value="*{nome}">
			<label 
			style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('nome')}"
			>
				[[ ${errors.getFieldError('nome').defaultMessage} ]]
			</label>
			
			<br>
			<label>descrizione</label>
			<input type="text" name="descrizione" th:value="*{descrizione}">
			<label 
			style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('descrizione')}"
			>
				[[ ${errors.getFieldError('descrizione').defaultMessage} ]]
			</label>
			
			<br>
			<label>foto(url)</label>
			<input type="text" name="foto" th:value="*{foto}">
			<label 
			style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('foto')}"
			>
				[[ ${errors.getFieldError('foto').defaultMessage} ]]
			</label>
			
			<br>
			<label>prezzo</label>
			<input type="number" name="price" th:value="*{price}">
			<label  
			style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('price')}"
			>
				[[ ${errors.getFieldError('price').defaultMessage} ]]
			</label>
			<br>
	
			<div
			th:each="ingrediente : ${ingredienti}"
			th:object="${ingrediente}"
			>
				<input th:id="${'ingrediente-' + ingrediente.id}" th:value="*{id}" type="checkbox" name="ingredienti">
				<label th:for="${'ingrediente-' + ingrediente.id}">[[ *{nomeIngrediente} ]]</label>
			</div>
			
			<input type="submit" value="CREATE">
		</form>
</body>
</html>